<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación de Catering{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <h1>Mi Aplicación de Catering</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home_calculos' %}">Inicio</a></li>
                <li><a href="{% url 'lista_ingredientes_principal' %}">Ingredientes</a></li>
                <li><a href="{% url 'lista_recetas' %}">Recetas</a></li>
                <li><a href="{% url 'lista_caterings' %}">Caterings</a></li>
                <!--<li><a href="{% url 'chatbot' %}">Chatbot</a></li>-->
                <li><a href="https://chatgpt.com/g/g-6798de56d9848191a7af1ca7de8ff752-calculadora-de-catering">Chatbot</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Mi Aplicación de Catering</p>
    </footer>
</body>
</html>
