{% extends 'base.html' %}

{% block title %}Lista de Compras{% endblock %}

{% block content %}
<h1>Lista de Compras para {{ catering.nombre }}</h1>
<p><strong>Cantidad de Invitados:</strong> {{ cantidad_personas }}</p>
<p><strong>Cantidad de Porciones Totales:</strong> {{ cantidad_porciones_totales }}</p>
<p><strong>Costo Total:</strong> ${{ costo_total|floatformat:2 }}</p>
<p><strong>Costo aproximado por Persona:</strong> ${{ costo_por_persona|floatformat:2 }}</p>
<p><strong>Porciones por Persona:</strong> {{ porciones_por_persona|floatformat:2 }}</p>

{% if lista_compras %}
<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="border: 1px solid #ddd; padding: 8px;">Ingrediente</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Cantidad Necesaria</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Unidad de Medida</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Cantidad del Producto</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Precio por Unidad</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Costo Calculado</th>
        </tr>
    </thead>
    <tbody>
        {% for ingrediente, detalles in lista_compras.items %}
        <tr>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ ingrediente }}</td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: right;">{{ detalles.cantidad|floatformat:2 }}</td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ detalles.unidad }}</td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: right;">{{ detalles.cantidad_unidad|floatformat:2 }}</td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: right;">${{ detalles.precio_unitario|floatformat:2 }}</td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: right;">${{ detalles.costo_total|floatformat:2 }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="text-align: right; font-weight: bold; border: 1px solid #ddd; padding: 8px;">Total Costo:</td>
            <td style="font-weight: bold; border: 1px solid #ddd; padding: 8px; text-align: right;">${{ costo_total|floatformat:2 }}</td>
        </tr>
    </tbody>
</table>
{% else %}
<p>No hay datos en la lista de compras.</p>
{% endif %}

<a href="{% url 'lista_caterings' %}" style="display: inline-block; margin-top: 20px; text-decoration: none; color: #fff; background-color: #007bff; padding: 10px 20px; border-radius: 5px;">Volver a la Lista de Caterings</a>
{% endblock %}
